{% extends "base.html" %}
{% load static %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'webpage/webpage.css' %}">
<link rel="stylesheet" href="{% static 'webpage/include/header.css' %}">
{% endblock %}

{% block page_title %}
    All Monthly Tasks
{% endblock %}

{% block contents %}
{% include "webpage/include/header.html" %}
    <ul>
        {% for month in months %}
        <li><a href="{% url 'monthly-task' month %}"> {{ month|title }} </a></li>
        {% endfor %}
    </ul>
{% endblock %}
