{%extends "base.html" %}
{%load static%}

{% block css_file %}
<link rel="stylesheet" href="{% static 'webpage/index.css' %}">
<link rel="stylesheet" href="{% static 'webpage/include/header.css' %}">
{% endblock %}

{% block page_title %}
{{ month_name |title }} 
{% endblock  %}

{% block contents  %}
{%include "webpage/include/header.html"%}
    <h1>This is {{ month_name |title }} task</h1>
    {%if text is not None %}
    <h2>{{ text }}</h2>
    {% else %}
    <p class= "fallback">no tasks for {{ month_name }} month</p>
    {% endif %}
{% endblock  %}